# Node.js dependencies
/node_modules/

# Fonts
/fonts/*.woff
/fonts/*.woff2

# Build output
/dist/

# Environment variables
.env

# IDE or editor specific files
.vscode/
.idea/

# Package-lock.json file
package-lock.json

