#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: "SF Pro Display", Arial, sans-serif;

  .location-menu {
    display: flex;
    gap: 0.25em;

    #location-dropdown {
      color: white;
      background: transparent;
      border: none;
      font-size: 1.2rem;
      line-height: 1.5;
      font-family: "SF Pro Display", Arial, sans-serif;
    }
  }
}
