.hourly-forecast-container {
  display: flex;
  overflow: scroll;
  gap: 12px;
  margin: 0 0.5em;

  .hourly-forecast {
    flex: 0 0 calc(25% - 12px);
    @include flexCentre;
    flex-direction: column;
  }
}
