body {
  font-family: "SF Pro Display", Arial, sans-serif;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display-fonts/SFPRODISPLAYBLACKITALIC.woff")
    format("woff");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display-fonts/SFPRODISPLAYBOLD.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display-fonts/SFPRODISPLAYHEAVYITALIC.woff")
    format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display-fonts/SFPRODISPLAYLIGHTITALIC.woff")
    format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display-fonts/SFPRODISPLAYMEDIUM.woff")
    format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display-fonts/SFPRODISPLAYREGULAR.woff")
    format("woff");
}
